.container{
    margin-bottom: -1px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #CED4DA;
}

.row{
    margin-bottom: 0px;
}

.header{
    padding: 10px;
}

.formGroup{
    margin: 0px;
}

.titleActive{
    margin-top: 2px;
    color: #007BFF;
}

.titleDefault{
    margin-top: 2px;
    color: #939BA2;
}

.checkboxRow{
    width: 20px;
    max-width: 20px;
}