@import "../inputstyles.modules";

.AutoCompleteText {
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-text-primary);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
    &:hover{
      color: var(--color-text-primary);
    }
  }
  ul {
    position: relative;
    top: 4px;
    background-color: var(--color-bg-default);
    color: var(--color-text-primary);
    border: 1px solid #D4D4D4;
    border-top: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 12;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    max-height: 50px;
    max-height: 340px;
    overflow-y: scroll;
    &::before {
      content: "";
    }
  }
  li {
    padding: 10px 5px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-bg-compliment);
    }
  }
}
